USE [DbResortTropical]
GO
/****** Object:  StoredProcedure [dbo].[PRC_CRUD_SelectALL]    Script Date: 09/13/2020 17:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER procedure [dbo].[PRC_CRUD_SelectALL]


As


Select * 
From habitacions